body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 22, 107);

}

#foto {
  align-items: center;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#fundo {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 400px;
  padding: 10px 30px;
}
#cartao {
  display: grid;
  justify-content: center;
  align-items: center;
  transition: transform 0.9s ease;
}
#foto img {
  border-radius: 20px;
  transition: transform 0.9s ease;
}
#foto img:hover {
  border-radius: 20px;
  transform: scale(1.1);
}
.text1,
.text2,
.text3, 
.text4{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -10px;
  border-radius: 50px;
}
#nome1 {
  background-color: rgb(32, 35, 206);
 
  border-radius: 50px;
  width: 100%;
}
#nome2,
#nome3 {
  background-color: rgb(74, 74, 250);
  border-radius: 50px;
  width: 100%;
}
#nome4{
  width: 100%;
  color: antiquewhite;
}
.text4 {
  transition: transform 0.7s ease;
}
.text4:hover {
  transform: scale(1.1);
}
.text3 {
  transition: transform 0.7s ease;
}
.text3:hover {
  transform: scale(1.1);
}
.text2 {
  transition: transform 0.7s ease;
}
.text2:hover {
  transform: scale(1.1);
}
.text1 {
  transition: transform 0.7s ease;
}
.text1:hover {
  transform: scale(1.1);
}
#prof {
  transition: transform 0.7s ease;
}
#prof:hover {
  transform: scale(1.1);
}
#desc {
  transition: transform 0.7s ease;
}
#desc:hover {
  transform: scale(1.1);
}
#prof,
#desc {
  text-align: center;
  background-color: rgb(74, 74, 250);
  border-radius: 15px;
  width: 100%;
}
#redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
#redes:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}
#redes1,
#redes2,
#redes3 {
  transition: transform 0.7s ease;
}
#redes1:hover,
#redes2:hover,
#redes3:hover {
  transform: scale(1.1);
}
#info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 84, 224);
  color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
}